@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;600;700&family=Open+Sans:wght@400;600&display=swap');

.about-container {
 max-width: 960px;
 margin: 0 auto;
 margin-top: 80px;
 padding: 20px;
 background-color: #f4f4f4;
 border-radius: 8px;
 box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
 font-family: 'Montserrat',sans-serif;
}

.about-container h1 {
 text-align: center;
 color: #333;
 margin-bottom: 20px;
}

.about-container p {
 color: #555;
 line-height: 1.6;
 margin-bottom: 15px;
}

.team-section {
 margin-top: 30px;
}

.team-section h2 {
 text-align: center;
 color: #333;
 margin-bottom: 25px;
}

.person {
 display: flex;
 align-items: center;
 margin-bottom: 30px;
 background-color: #fff;
 border-radius: 6px;
 overflow: hidden;
 box-shadow: 0 2px 5px rgba(0, 0, 0, 0.05);
}

.person.reversed {
 flex-direction: row-reverse;
}

.info {
 flex: 1;
 padding: 20px;
}

.info h3 {
 margin-top: 0;
 color: #333;
}

.info h4 {
 color: #777;
 font-weight: normal;
 margin-bottom: 10px;
}

.info p {
 margin-bottom: 10px;
}

.contact-list {
 list-style: none;
 padding: 0;
}

.contact-list li {
 margin-bottom: 5px;
 color: #555;
}

.contact-list li a {
 color: #007bff;
 text-decoration: none;
}

.contact-list li a:hover {
 text-decoration: underline;
}

.photo {
 width: 150px;
 height: 150px;
 overflow: hidden;
 border-radius: 50%;
 margin: 20px;
 box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.1);
}

.photo img {
 width: 100%;
 height: 100%;
 object-fit: cover;
}

/* media quesies  */
@media (max-width: 768px) {
 .person {
 flex-direction: column;
 text-align: center;
 }

 .person.reversed {
 flex-direction: column;
 }

 .photo {
 margin: 20px auto;
 }

 .info {
 padding: 20px;
 }
}